@keyframes pulse {
    from {
        opacity: 0;
        transform: scale(0.98);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

:root {
    --t-base: black;
    --t-accent: #f08c00;
    --t-primary: #1864ab;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

*:focus {
    outline: 2px solid var(--t-primary);
    outline-offset: 4px;
}

body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
}

h2,
h3,
h4 {
    margin-top: 0;
}

h2 {
    font-size: 2.2em;
    color: var(--t-primary);
}

.site {
    background-color: #fff;
    min-height: 100vh;
    position: relative;
}

.push-top {
    margin-top: 1em;
}

.push-bottom {
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.content {
    margin-top: -4em;
    position: relative;
    z-index: 2;
    background-color: #fff;
    padding: 2em;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

button,
.btn {
    --t-btn-background: whitesmoke;
    --t-btn-color: var(--t-primary);
    color: var(--t-btn-color);
    background-color: var(--t-btn-background);
    appearance: none;
    border: 0;
    padding: 0.5em 0.8em;
    font-size: inherit;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid transparent;
    text-decoration: none;
}

.btn img {
    width: 1.2em;
    margin-right: 0.5em;
}

.btn--primary {
    --t-btn-color: #fff;
    --t-btn-background: var(--t-primary);
}

.container {
    width: 100%;
    max-width: 50em;
    padding-left: 2em;
    padding-right: 2em;
    margin-left: auto;
    margin-right: auto;
}

.intro {
    display: flex;
    min-height: 50vh;
    /*clip-path: polygon(0 16%, 100% 16%, 100% 100%, 0 100%);*/
}

.intro__inner {
    transform: skewY(-4deg);
    background: linear-gradient(to bottom, #fc4a1a, #f7b733);
    width: 100%;
    display: flex;
    margin-top: -4%;
}

.intro__inner > .container {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: calc(4% + 2em);
    padding-bottom: 6em;
}

.intro__logo-wrapper {
    mix-blend-mode: overlay;
}

.intro__logo {
    display: block;
    margin-bottom: 1em;
    fill: #fff;
    mix-blend-mode: overlay;
}

.intro__logo path[data-name="spark"] {
    animation: pulse 1s infinite both alternate;
    transform-origin: center center;
}

.intro__logo path[data-name="spark"]:nth-child(2) {
    animation-delay: 0.2s;
}

.intro__logo path[data-name="spark"]:nth-child(3) {
    animation-delay: 0.4s;
}

.intro__title {
    margin: 0;
    text-transform: uppercase;
    text-shadow: 0 2px 0 black;
    mix-blend-mode: overlay;
    color: #ffeeee;
    white-space: nowrap;
}

@media (min-width: 40em) {
    .intro__title {
        font-size: 4em;
    }
}

.intro__desc {
    text-align: center;
    margin: 0.5em 0 2em;
}

.intro__actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.box {
    background-color: whitesmoke;
    padding: 1em;
    border-radius: 4px;
    max-width: 30em;
}

.box--sm {
    max-width: 10em;
}
