.limelight {
    --limelight-bg: rgba(0, 0, 0, 0.8);
    --limelight-overlay-transition-duration: 0.3s;
    --limelight-window-transition-duration: 1s;
    --limelight-z-index: 999;
    --limelight-corner-size: 24px;
    --limelight-border-radius: 8px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 999;
    z-index: var(--limelight-z-index);
    transition: opacity 0.3s;
    transition: opacity var(--limelight-overlay-transition-duration);
}

.limelight--is-active {
    opacity: 1;
    visibility: visible;
}

.limelight--is-active .limelight__window {
    transition: transform 1s;
    transition: transform var(--limelight-window-transition-duration);
}

.limelight__window {
    content: '';
    display: block;
    width: 1px;
    height: 1px;
    transform-origin: top left;
    position: absolute;
    /**
     * Old style hack for highlighting, needed for Edge etc.
     * Falls back to black if custom properties not supported.
     */
    /* box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.8); */
    /* box-shadow: 0 0 0 9999px var(--limelight-bg); */
}

.limelight__window--corner {
    width: var(--limelight-corner-size);
    height: var(--limelight-corner-size);
}

.limelight__window--corner:first-child {
    border-top-left-radius: var(--limelight-border-radius);
}

.limelight__window--corner:nth-child(2) {
    border-top-right-radius: var(--limelight-border-radius);
}

.limelight__window--corner:nth-child(3) {
    border-bottom-right-radius: var(--limelight-border-radius);
}

.limelight__window--corner:nth-child(4) {
    border-bottom-left-radius: var(--limelight-border-radius);
}

/**
 * If we support mix-blend-mode, prefer it over box-shadow.
 */
@supports (mix-blend-mode: hard-light) {
    .limelight {
        mix-blend-mode: hard-light;
        background-color: var(--limelight-bg);
    }

    .limelight__window {
        background-color: grey;
    }
}
